
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

    <title><%= title %></title>

    <!-- CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/site.css" rel="stylesheet">
  </head>


  <body>

    <main role="main" class="container">
      <div class="row">

        <div class="col-6">
          <p>This is the search results view.</p>
        </div>

      </div>

    </main>


    <!-- Javascript -->
    <script src="//code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="/javascripts/vendor/popper.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    
  </body>
</html>